name: 编译 Hikari-LLVM19 (通用 Apple Silicon 版)

on:
  workflow_dispatch:

jobs:
  build-ollvm:
    runs-on: macos-15
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          repository: Aethereux/Hikari-LLVM19
          fetch-depth: 1

      - name: Check Environment
        run: |
          echo "当前使用的 Xcode 版本:"
          xcodebuild -version
          echo "当前架构:"
          uname -m

      - name: Install Build Tools
        run: |
          brew install cmake ninja

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DLLVM_ENABLE_PROJECTS="clang;lld" \
            -DLLVM_TARGETS_TO_BUILD="X86;ARM;AArch64" \
            -DLLVM_ENABLE_ZSTD=OFF \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=12.0 \
            -DLLVM_CREATE_XCODE_TOOLCHAIN=ON \
            -DLLVM_INCLUDE_TESTS=OFF \
            -DLLVM_INCLUDE_EXAMPLES=OFF \
            -DLLVM_INCLUDE_UTILS=OFF \
            -DLLVM_INCLUDE_BENCHMARKS=OFF \
            -DLLVM_BUILD_TOOLS=OFF \
            -DLLVM_INSTALL_TOOLCHAIN_ONLY=ON \
            -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/install" \
            ../llvm

      - name: Build
        run: |
          cd build
          ninja

      - name: Install and Package
        run: |
          cd build
          ninja install-xcode-toolchain
          
          # 自动寻找并压缩
          TOOLCHAIN_DIR=$(find ${{ github.workspace }}/install -name "*.xctoolchain" -type d)
          cd "$TOOLCHAIN_DIR/.."
          FOLDER_NAME=$(basename "$TOOLCHAIN_DIR")
          zip -r "${{ github.workspace }}/Hikari-LLVM19-AppleSilicon.xctoolchain.zip" "$FOLDER_NAME"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Hikari-LLVM19-macOS15-arm64
          path: Hikari-LLVM19-AppleSilicon.xctoolchain.zip
